* {
	margin: 0;
    width: 0 auto;

}

body {
	background-color: #def3ed;
	background-blend-mode: screen;
}


.title {
    text-align: center;
    width: 0 auto;
    margin: 20px;
    color: solid black;
}

.navbar {
    background-color: slategrey;
    overflow: hidden;
 }

 .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

 }

 .navbar a:hover {
    background-color: lightgrey;
    color: black;
 }

 .active {
    background-color: black;
    color: white;

 }

 .wrapper {
    position: absolute;
    overflow: hidden;
    transition: .5s ease;
    top: 50%;
 }


.button {
    background-color: white;
    border: none;
    color: white;
    padding: 30px 64px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    transition-duration: 0.4s;

}


.button:hover {
    background-color: white;
    color: black;
}

.button {
    background-color: #4CAF50;
    color: black;
    border: 2px solid black;

}
