body{
	background-color: #DBF3ED
		
}







h1{
	font-family: Arial, Helevetica, sans-serif;
	font-size: 80px;
	margin-left: 50px;
}


img{
	border-radius: 50%;
	float:left;
	margin-right: 10px;
	padding-left: 30px;
}

.
p {
	font-family: Arial, Helevetica, sans-serif;
	text-align: justify
	margin: left 200px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 450px;
}

h4{ 
	font-size: 40px;
	font-style: italic;
	font-weight: bold;
	margin-left: 50px;
 }